<div
  class="fixed z-50 transition-all duration-500 top-1/2 -translate-y-1/2 right-4 flex flex-col items-center gap-4 px-2 py-5 glass rounded-full shadow-[0_10px_40px_rgba(0,0,0,0.3)] md:right-0 md:px-0 md:py-0 md:bg-transparent md:border-none md:shadow-none md:translate-x-1 md:hover:translate-x-0 md:pr-2"
>
  <!-- Facebook -->
  <a
    href="https://www.facebook.com/frpdpk"
    target="_blank"
    class="w-8 h-8 md:w-10 md:h-10 bg-[#1877F2]/80 md:bg-[#1877F2] border border-transparent text-white rounded-full flex items-center justify-center text-sm md:text-lg hover:shadow-lg hover:scale-110 transition-all duration-300"
  >
    <i class="fab fa-facebook-f"></i>
  </a>
  <!-- WhatsApp -->
  <a
    href="https://whatsapp.com/channel/0029Vae6bpnISTkOmoPQwp25"
    target="_blank"
    class="w-8 h-8 md:w-10 md:h-10 bg-[#25D366]/80 md:bg-[#25D366] border border-transparent text-white rounded-full flex items-center justify-center text-sm md:text-lg hover:shadow-lg hover:scale-110 transition-all duration-300"
  >
    <i class="fab fa-whatsapp"></i>
  </a>
  <!-- LinkedIn -->
  <a
    href="https://www.linkedin.com/in/frpd2018"
    target="_blank"
    class="w-8 h-8 md:w-10 md:h-10 bg-[#0A66C2]/80 md:bg-[#0A66C2] border border-transparent text-white rounded-full flex items-center justify-center text-sm md:text-lg hover:shadow-lg hover:scale-110 transition-all duration-300"
  >
    <i class="fab fa-linkedin-in"></i>
  </a>
  <!-- Instagram -->
  <a
    href="#"
    target="_blank"
    class="w-8 h-8 md:w-10 md:h-10 bg-[#E4405F]/80 md:bg-[#E4405F] border border-transparent text-white rounded-full flex items-center justify-center text-sm md:text-lg hover:shadow-lg hover:scale-110 transition-all duration-300"
  >
    <i class="fab fa-instagram"></i>
  </a>
  <!-- Youtube -->
  <a
    href="https://www.youtube.com/channel/UCDygs990-Kf2Jn_Tt3JikqA"
    target="_blank"
    class="w-8 h-8 md:w-10 md:h-10 bg-[#E4405F]/80 md:bg-[#E4405F] border border-transparent text-white rounded-full flex items-center justify-center text-sm md:text-lg hover:shadow-lg hover:scale-110 transition-all duration-300"
  >
    <i class="fab fa-youtube"></i>
  </a>
</div>
